*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0F172A;
    color:white;
}

header{
    background:#1E293B;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:#38BDF8;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:white;
}

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero img{
    width:250px;
    border-radius:20px;
    box-shadow:0 0 20px #38BDF8;
}

.hero h2{
    margin-top:20px;
    color:#38BDF8;
}

.hero p{
    max-width:700px;
    margin:20px auto;
    line-height:1.8;
}

button{
    background:#38BDF8;
    color:black;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

.about{
    text-align:center;
    padding:40px;
}

.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:40px;
}

.card img{
    width:250px;
    border-radius:15px;
    transition:0.5s;
}

.card img:hover{
    transform:scale(1.1);
}

.facts{
    text-align:center;
    padding:30px;
}

.facts ul{
    list-style:none;
}

.facts li{
    margin:10px;
}

.video{
    text-align:center;
    padding:30px;
}

.video video{
    width:80%;
    max-width:700px;
    border-radius:15px;
}

footer{
    background:#1E293B;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
